<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <title>Ghostmeme</title>

            <link rel="stylesheet" href="web-assets/css/bootstrap.css"/>
            <link rel="stylesheet" href="web-assets/css/w3.css"/>
            <link rel="stylesheet" href="web-assets/css/all.min.css"/>
            <link rel="stylesheet" href="web-assets/css/styles.css"/>
        {% endblock %}
    </head>
    <style>
        .dark-mode {
    background-color: #1c1c1c;
     color: white;
    }
    .dark-mode-card {
    background-color: #525252;
     color: white;
    }
</style>
    <script>
function myFunction() {
   var element = document.body;
   //var card = document.getElementsByClassName("card");
   element.classList.toggle("dark-mode");
   //card.classList.toggle("dark-mode-card");

    if($("div").hasClass("dark-mode")){
        $("div").removeClass("dark-mode");
    } else{
        $("div").addClass("dark-mode");
    }
    
    if($('.card').hasClass('dark-mode-card')){
        $('.card').removeClass('dark-mode-card');
    } else {
        $('.card').addClass('dark-mode-card');
    }
   
}
</script>
    

    <body class="">
        {{ include('components/nav.twig') }}
        <button class="btn btn-primary" onclick="myFunction()">Toggle dark mode</button>
        
        <div id="content" class="container container-fluid">
            {% block content %}
            {% endblock %}
	    </div>
        
        {{ include('components/footer.twig') }}

        {{ include('components/scripts.twig') }}
    </body>
</html>
