<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <title>Ghostmeme</title>

            <link rel="stylesheet" href="web-assets/css/bootstrap.css"/>
            <link rel="stylesheet" href="web-assets/css/w3.css"/>
            <link rel="stylesheet" href="web-assets/css/all.min.css"/>
            <link rel="stylesheet" href="web-assets/css/styles.css"/>
        {% endblock %}
    </head>
    <body class="bg-light">
        {{ include('components/nav.twig') }}
        
        <div id="content" class="container container-fluid">
            {% block content %}
            {% endblock %}
	    </div>
        
        {{ include('components/footer.twig') }}

        {{ include('components/scripts.twig') }}
    </body>
</html>
