#username {
    position:relative;
    top: 7px;
    left: 5px;
    font-size: 20px;
}
.block-width {
    width:500px;
    position:relative;
    top: 60px;
    margin-bottom: 20px ;
}
.round-button{
    border-radius: 75%;
}
.btn-align {
    position: relative;
    right: -185px;
    bottom: 35px;
}
.comment-align {
    position: relative;
    right: 30px;
  
}
.share-bookmark {
    position: relative;
    left: -25px;
}
#like-align {
    position: relative;
    top: 35px;
    left: -30px;
}