#username {
    position:relative;
    top: 7px;
    left: 5px;
    font-size: 20px;
}
.block-width {
    width:500px;
    position:relative;
    top: 60px;
    margin-bottom: 20px ;
}
.round-button{
    border-radius: 75%;
}
.btn-align {
    position: relative;
    right: -185px;
    bottom: 35px;
}
.comment-align {
    position: relative;
    right: 30px;
  
}
.share-bookmark {
    position: relative;
    left: -25px;
}
#like-align {
    position: relative;
    top: 35px;
    left: -30px;
}

    div.captcha .grid-container {
    display: inline-grid;
    
    background-color: #2196F3;
    padding: 5px;
    }

    div.captcha .grid-item {
    background-color: rgba(25, 255, 55, 0.8);
    border: 3px solid rgba(0, 0, 0, 0);
    padding: 0px;
    font-size: 0px;
    text-align: center;
    }

    div.captcha button {
        width: 150px;
        height: 120px;
        font-size: 30px;
        font-weight: 3px;
    }

    div.captcha img {
        height: 100px;
        padding:0px
    }
    